@font-face {
  font-family: neu;
  src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}
@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  @include flex-space();
  padding: 1.2rem 3.5rem;
  font-family: neu;
  width: 100%;
  position: fixed;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    img {
      width: 34px;
    }
    h4 {
      font-size: 0.9rem;
      line-height: 1.3;
      font-weight: 100;
      color: rgb(227, 227, 227);
      width: 100%;

    }
  }
  .text {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    h4 {
      font-size: 0.9rem;
      cursor: pointer;
      font-weight: 100;
      font-size: 0.83rem;
      color: rgb(227, 227, 227);
      i {
        font-size: 1.1rem;
      }
    }
     h4.boot{
        font-size: 0.95rem;
        font-weight: 600;
        color: white;
        i{
          font-size: 0.95rem;
          margin-left: 0.2rem;
        }
      }

    img {
      width: 28px;
      border-radius: 50%;
    }
    svg{
      cursor: pointer;
      width: 1.45rem;
      fill: rgb(227, 227, 227);
    }
  }
  .nav2{
    display: none;
    align-items: center;
    gap: 3.2rem;
    h4 {
      font-size: 0.9rem;
      cursor: pointer;
      font-weight: 100;
      font-size: 0.83rem;
      color: rgb(227, 227, 227);
      i {
        font-size: 1.1rem;
      }
    }
  }
}
main{
  .section1{
    
  };
}

@media (max-width: 600px) {
  nav {
    padding: 1rem 1.2rem;
    .logo{
      img{
        width: 25px;
      }
      h4{
  font-size: 0.9rem;
      }
    }
    .text {
      display: none;
    }
    .nav2{
      display: flex;
      align-items: center;
      gap: 1.25rem;
      h4{
        font-size: 1.1rem;
        cursor: pointer;
        font-weight: 100;
        color: rgb(227, 227, 227);
      }
      svg{
        width: 1.2rem;
      }
    }
  }
}